API_URL=https://api.truelayer.com
TRUELAYER_CLIENT_ID=your_client_id_here
TRUELAYER_CLIENT_SECRET=your_client_secret_here
TRUELAYER_REDIRECT_URI=https://your-app-redirect.com/callback
FIREBASE_WEB_API_KEY=your_firebase_web_api_key
